.ListItem {
    display: flex;
    padding: 5px;
    margin: 15px;
    justify-content: space-between;
  }

  .BookCover {
    height: 200px;
    text-align: left;
    margin-left: 15px;
    padding: 10px;
  }
  
  .ListItem__heading {
    align-self: center;
    
  }
  
  .ListItem__title {
    flex: 4;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .ListItem__author {
    flex: 4;
    font-size: 22px;
    text-align: center;
  }

  .ListItem__Price {
    flex: 4;
    font-size: 20px;
  }

  .ListItem__addinfo {
    display: flex;
    flex: 5;
    font-size: 18px;

  }

  .infoButton {
    align-self: flex-end;
  }

  

  